@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    background-color: #4a5568;
    color: white;
}

#titlecolor{
    color: whitesmoke;
    font-size: 32px;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .plotdiv{
    width: 200px;
  }

  .img_shirt{

  }

  .container {
    position: relative;
    text-align: center;
    color: green;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 66px;
  }

  /* Centered text */
.centered {
  position: absolute;
  bottom: 8px;
  left: 50%;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 66px;
}

  .center {
    margin: auto;
    width: 95%;
  }