<html>
    <head>
        <meta charset="utf-8">
        <title>Merchiewer</title>
    </head>
    <body style="background-color:grey;">
        <h1>This is the main page</h1>
          {% if shirt_info.asin %}
                <table>
                {% load define_action %} 
                {% define 0 as innerCounter %}
                {% with ''|center:rows as range %}
                {% for i in range %}
                    <tr>
                        {% with ''|center:columns as range %}
                        {% for j in range %}
                        {% with forloop.parentloop.counter0 as outerCount %}
                        {% with forloop.counter0 as innerCounter %}
                        
                        <td> 
                            {% multiply outerCount columns as outerCount_mull %}
                            {% with outerCount_mull|add:innerCounter as counter_total %}
                            {{filter}}
                            {% load index %}{{ shirt_info.price_max|index:counter_total }},{{ shirt_info.asin|index:counter_total}}
                            <img src={% load index %}{{ shirt_info.url|index:counter_total }} alt="Shirt could not be loaded" width=150 height=150>
                            {% endwith %}
                        </td>
                        {% endwith %}
                        {% endwith %}
                        {% endfor %}
                        {% endwith %}
                    </tr>
                {% endfor %}
                {% endwith %}
                </table>
            {% else %}
                <p>No shirts are available.</p>
            {% endif %}
    </body>
</html>