<html>
    <head>
        <meta charset="utf-8">
        <title>Merchiewer</title>
    </head>
    <body>
        <h1>This is the main page</h1>
          {% if asin %}
                <table>
                {% for asin_i in asin %}
                    <tr><td>{% load index %}{{ price_max|index:forloop.counter0 }}, {{ asin_i }}</td></tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No shirts are available.</p>
            {% endif %}
    </body>
</html>