pandas
pandas-gbq
google-cloud-bigquery
google-cloud-storage
google-cloud-firestore
google-cloud-core
grpcio
scikit-learn
plotly
requests
dask
Django
tqdm
google-api-python-client
spacy==2.3.2
langdetect
scrapy
scrapy-rotating-proxies
oauth2client
firebase-admin
# not needed for cloud function but for instance which executes code later
rake-nltk==1.0.4
rdp
requests-futures
pydantic
selenium==4.0.0