pandas==1.0.5
pandas-gbq==0.13.2
google-cloud-bigquery==1.25.0 
google-cloud-storage==1.29.0 
google-cloud-datastore==1.15.0
google-cloud-firestore==1.9.0
google-cloud-core==1.4.1
grpcio==1.31.0
scikit-learn==0.23.1
plotly==4.9.0
requests==2.24.0 
dask
Django
tqdm==4.48.2
google-api-python-client==1.10.0
spacy==2.3.2
langdetect==1.0.8
scrapy
scrapy-rotating-proxies
oauth2client
firebase-admin
# not needed for cloud function but for instance which executes code later
rake-nltk==1.0.4
rdp
requests-futures
pydantic