bs4 
pandas
numpy 
pandas-gbq
lxml
google-cloud-storage
google-cloud-bigquery
proxy_requests
dateparser
scrapy
scrapy-rotating-proxies
selenium
opencv-python-headless<4.3
setuptools==51.0.0
py3exiv2==0.9.3 
piexif
easydict