beautifulsoup4
pandas
numpy 
pandas-gbq
lxml
google-cloud-storage
google-cloud-bigquery
google-cloud-logging
google-auth
google-auth-oauthlib
proxy_requests
dateparser
scrapy
scrapy-rotating-proxies
scrapy-inline-requests
selenium
opencv-python-headless<4.3
setuptools==65.5.1
py3exiv2==0.9.3
piexif
easydict
matplotlib
olefile
../../paapi5-python-sdk/dist/paapi5-python-sdk-1.0.0.tar.gz