# Function dependencies, for example:
# package>=version
oauth2client
google-api-python-client
git+git://github.com/Flo95x/mba-pipeline.git
pydantic
pytz
scrapy
google-cloud-firestore
google-cloud-core
google-api-core
google-cloud-storage
google-cloud-logging